body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
}

th, td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: center;
    position: relative; /* Added to contain the X button */
}

.drop-cell {
    border: 2px dashed #007bff;
    color: #007bff;
    transition: background-color 0.3s;
    position: relative; /* Ensure absolute positioning works within */
    padding: 0; /* Remove padding from drop cells */
}

.drop-cell.dragover {
    background-color: #e0e0e0;
}

.file-path {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
    position: relative; /* Enable absolute positioning of tooltip */
}

.file-path:hover::after {
    content: attr(data-full-path);
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    white-space: nowrap;
    right: 0; /* Position tooltip within view */
    transform: translateX(100%); /* Move tooltip to the left of the element */
}

#save-json-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#save-json-button:hover {
    background-color: #0056b3;
}

.thumbnail {
    width: 100%; /* Make image fill its container */
    height: 100%; /* Make image fill its container */
    object-fit: cover; /* Ensure image covers the container without distortion */
    display: block; /* Remove any inline spacing */
}

.delete-btn, .reset-btn {
    position: absolute;
    right: 0; /* Position buttons on the right edge */
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    display: none; /* Initially hidden */
}

.reset-btn {
    top: 20px; /* Position reset button below the delete button */
    background-color: blue;
    font-size: 16px;
    padding: 2px 7px;


}

.delete-btn {
    top: 0; /* Position delete button at the top */
    font-size: 12px;
    padding: 2px 7px;
}


.drop-cell:hover .delete-btn, .drop-cell:hover .reset-btn {
    display: block; /* Show when hovering over the drop cell */
}

.toggle-btn {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-btn.red {
    background-color: red;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.click-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
